[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
jupyter = "*"
notebook = "*"

[packages]
fastai = "*"
numpy = "*"
matplotlib = "*"
fastapi = {extras = ["all"],version = "*"}
starlette = "*"
requests = "*"
pathlib = "*"
pillow = "*"
torch = "*"
click = "*"

[requires]
python_version = "3.7"
