[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
numpy = "*"
matplotlib = "*"
torch = "*"
fastapi = {extras = ["all"],version = "*"}
pil = "*"
starlette = "*"
requests = "*"
pathlib = "*"
os = "*"
sys = "*"
json = "*"
io = "*"
base64 = "*"
flake8 = "*"
autopep8 = "*"
jupyter = "*"
notebook = "*"
pillow = "*"

[requires]
python_version = "3.7"
